<aside>
    <!--<div class="user-side d-flex">

    </div>-->
    <nav>
        <ul class="d-flex flex-column">
            <li>
                <a href="#">Posts</a>
            </li>
            <li>
                <a href="#">Categories</a>
            </li>
            <li>
                <a href="#">Pages</a>
            </li>
            <li>
                <a href="#">Users</a>
            </li>
            <li>
                <a href="#">Settings</a>
            </li>
        </ul>
    </nav>
</aside>
