$text-color : #212121;
$secondary-text-color : #212121;
$white  : #ffffff;
$bg-header: #282828;

/*
===============================
            PURPLE
===============================
*/

$purple: #4B367C;
$purple-dark : #291d45;
$purple-light : #7D50B6;
$purple-accent : #e040fb;

/* #7145C0 */

/*
===============================
            BLUE
===============================
*/

/*
===============================
            LIGHT
===============================
*/

/*
===============================
            DARK
===============================
*/


/*
===============================
            Social
===============================
*/

$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #dd4b39;
$linkedin-color: #0177B5;
$github-color: #6b6b6b;
$stackoverflow-color: #2F96E8;
$dribble-color: #F26798;
$behace-color: #0093FA;
